@model Zwierze

<h2> @Model.Nazwa - @Model.Rasa</h2>
<div class="thumbnail">
    <img alt="@Model.Nazwa" src="@Model.ZdjecieUrl"/>
    <div class="caption-full">
        <h3 class="pull-right">@Model.SredniaDlugoscZycia</h3>
        <h4>@Model.Odzywianie</h4>
        <h4>@Model.Srodowisko</h4>
        <h4>@Model.KrajWystepowania</h4>
        <p>@Model.Opis</p>
    </div>
</div>